/*
style de la navbar
*/
.navbar{
    background-color: #034982  !important;
}
.logo{
    height: auto;
    width: 4em;
}
.container{
    border-radius: 5%;
    width: 60% !important;
    margin: auto;
    margin-top: 10%;
    background-color:rgb(246, 251, 249);
}
body{
    background-color: #E6F4EA !important;
}
